---
---
#resume
  background: #efefef
  #heading
    padding: 0
    margin: 0
    float: left
    font-family: "Alegreya", serif
    #leadin
      font-size: 18px
      padding: 20px 0 0 20px
      margin-bottom: -6px
    #name
      font-size: 80px
      padding: 0 20px 0 20px
      color: black
      margin: 0
    #subtitle
      padding-left: 20px
      font-size: 21px
      margin-top: -10px
      font-style: italic
      clear: left
      color: black

  #contact
    padding: 20px 20px 0 0
    float: right
    text-align: right
    a
      font-size: 18px
      display: block

  #objective
    .title
      padding: 20px 20px 0 20px
      font-size: 22px
      font-family: "Alegreya", serif
    .content
      font-family: "Alegreya", serif
      font-size: 18px
      color: #333
