---
---
#resume
  background: white
  #heading
    padding: 12px
    margin: 0
    float: left
    font-family: "Esteban", serif
    #leadin
      font-size: 18px
      padding: 20px 0 0 20px
      margin-bottom: -6px
      font-style: italic
    #name
      font-size: 80px
      padding: 0 20px 0 20px
      color: black
      margin: 0
      font-family: "Montaga", serif
    #subtitle
      padding-left: 20px
      font-size: 21px
      margin-top: -10px
      clear: left
      color: #B62A26

        
  #contact
    padding: 28px 20px 0 0
    float: right
    text-align: right
    a
      font-size: 21px
      display: block
      color: #B62A26
      font-family: "Esteban", serif
      text-decoration: none
      &:hover
        text-decoration: underline


  #objective
    padding: 4px 32px 32px 32px
    width: 60%
    .title
      margin: 20px 0 0 0
      font-size: 21px
      font-family: "Cabin", serif
    .content
      padding: 0
      font-family: "Esteban", serif
      margin: 0
      font-size: 17px
      color: #333

  #skills
    padding: 4px 32px
    width: 100%
    .title
      width: 100%
      margin: 0
      padding: 0
      font-size: 21px
      font-family: "Cabin", serif
    ul
      width: 42%
      margin-right: 3%
      float: left
      li
        padding: 0
        font-family: "Esteban", serif
        margin: 0
        font-size: 17px
        color: #333

  #technologies
    padding: 0 32px 32px 32px
    width: 100%
    .title
      margin: 0
      font-size: 21px
      font-family: "Cabin", serif
    ul
      width: 15%
      margin-right: 3%
      float: left
      li
        list-style-type: none
        padding: 0
        font-family: "Esteban", serif
        margin: 0
        font-size: 17px
        color: #333

        &.heading
          font-weight: bold
          font-size: 1.1em


  #experience
    width: 100%
    .title
      margin: 0
      padding: 0
      font-size: 21px
      font-family: "Cabin", serif

    h2.title
      margin-left: 32px
      margin-bottom: 16px

    li
      padding: 0
      font-family: "Esteban", serif
      margin: 0
      font-size: 17px
      color: #333

    a
      text-transform: downcase
      font-size: 16px
      display: block
      color: #B62A26
      font-family: "Telex", serif
      text-decoration: none
      &:hover
        text-decoration: underline

    .date
      color: #444
      font-size: 17px
      font-family: "Telex", sans-serif
      margin-top: 4px

    .project
      padding: 20px 0 8px 0
      &.odd
        background: #efefef
        border-bottom: 1px solid #ddd

    .info
      float: left
      padding-left: 32px
      width: 24%

    .roles
      ul
        margin: 12px 0 0 0
        padding: 0
        list-style-type: none
        color: black
        li
          margin-top: 4px

    .responsibilities
      ul
        float: left
        width: 60%
        margin-top: 0
      li
        margin-top: 12px
