---
layout: default
title: Home
---

#home
  .column#writing
    %h2 Edgar Bannister Goes to School For Monkey Bots
    .byline on February 3rd in Writing

  .column#other
    .section#projects
      %h4 Projects
    .section#food
      %h4 Food
