---
layout: default
title: Resume
---

#resume
  #heading
    #leadin
      The professional r&eacute;sum&eacute; of 
    #name
      Mike Zazaian
    #subtitle
      Developer, Designer, Project Manager
  #contact
    %a{:href => "mailto:mike@zop.io"} mike@zop.io
    %a{:href => "http://github.com/mkzzn"} Github
    %a{:href => "http://twitter.com/mkzzn"} Twitter
