---
layout: default
title: Resume
---

#resume
  #heading
    #leadin
      The professional r&eacute;sum&eacute; of 
    #name
      Mike Zazaian
    #subtitle
      Developer, Designer, Project Manager
  #contact
    %a{:href => "http://zop.io"} http://zop.io
    %a{:href => "mailto:mike@zop.io"} mike@zop.io
    %a{:href => "http://github.com/mkzzn"} Github
    %a{:href => "http://twitter.com/mkzzn"} Twitter
  .clear
  
  .section#objective
    %h2.title
      Objective
    .content
      To foster innovative, elegant, artistically-coded Ruby on Rails applications through the stages of planning, design, development and deployment.
