---
layout: default
title: Resume
---

#resume
  #heading
    #leadin
      The professional r&eacute;sum&eacute; of 
    #name
      Mike Zazaian
    #subtitle
      Developer, Designer, Project Manager
  #contact
    %a{:href => "http://zop.io"} http://zop.io
    %a{:href => "mailto:mike@zop.io"} mike@zop.io
    %a{:href => "http://github.com/mkzzn"} Github
    %a{:href => "http://twitter.com/mkzzn"} Twitter
  .clear
  
  #objective
    %h2.title
      Objective
    .content
      To foster innovative, elegant, artistically-coded Ruby on Rails applications through the stages of planning, design, development and deployment.

  #skills
    %h2.title
      Skills
    %ul
      %li Software development, especially with Ruby on Rails
      %li Expertise in and Artistic Utilisation of the Rails Framework
      %li Project management
      %li User interface design
      %li Elegant AJAX solutions using jQuery
      %li Behavior-driven development
      %li Graphical identity development
      %li Social marketing and content monetization
      %li Search engine optimiztion
      %li Fluid-width CSS layouts
      %li Database design and planning
      %li Rapid comprehension of new technologies
      %li Artistic approach to best practices in programming and design
      %li Being flexible
      %li Delivering business value
      %li Friendliness
      %li Communicating effectively with humans
