---
layout: default
title: Resume
---

#resume
  #heading
    #leadin
      The professional r&eacute;sum&eacute; of 
    #name
      Mike Zazaian
    #subtitle
      Developer, Designer, Project Manager
  #contact
    %a{:href => "http://zop.io"} http://zop.io
    %a{:href => "mailto:mike@zop.io"} mike@zop.io
    %a{:href => "http://github.com/mkzzn"} Github
    %a{:href => "http://twitter.com/mkzzn"} Twitter
  .clear
  
  #objective
    %h2.title
      Objective
    .content
      To foster innovative, elegant, artistically-coded Ruby on Rails applications through the stages of planning, design, development and deployment.

  #skills
    %h2.title
      Skills
    %ul
      %li Software development, especially with Ruby on Rails
      %li Project management
      %li User interface design
      %li Elegant AJAX solutions using jQuery
      %li Behavior-driven development
      %li Graphical identity development
      %li Social marketing and content monetization
      %li Search engine optimiztion
    %ul
      %li Fluid-width CSS layouts
      %li Database design and planning
      %li Rapid comprehension of new technologies
      %li Artistic approach to best practices in programming and design
      %li Being flexible
      %li Delivering business value
      %li Friendliness
      %li Communicating effectively with humans
    .clear

  #technologies
    %h2.title
      Technologies
    %ul
      %li.heading Syntax
      %li Ruby/Rails
      %li HTML 5
      %li CSS 3
      %li Javascript
      %li jQuery
      %li BASH
      %li YAML
    %ul
      %li.heading Ruby-ish
      %li Cucumber
      %li RSpec
      %li HAML
      %li SASS
      %li Jekyll
      %li Padrino
      %li Sinatra
    %ul
      %li.heading Multimedia
      %li GIMP
      %li Photoshop
      %li Illustrator
      %li Inkscape
      %li Final Cut Pro
      %li Premiere
      %li After Effects
    %ul
      %li.heading Some Gems
      %li searchlogic
      %li prawn
      %li cancan
      %li capistrano
      %li carrierwave
      %li devise
      %li factory_girl

    .clear

  #experience
    %h2.title Work Experience

    .project.odd
      .info
        .title Acurrus Consulting
        .urls
          %a{:href => "http://acurrus.com"} Acurrus.com
        .date
          2009-2011
        .roles
          %ul
            %li Lead Developer
            %li UI Lead

      .responsibilities
        %ul
          %li  Developed large-scale engineering-workflow Rails intranet application for Telecom Technicians Inc., to assist with the every facet of equipment deployment for AT&T in Southeast Michigan.
          %li Evaluated and documented every facet of legacy application prior to development.  Drew elaborate user interface and information architecture relational maps prior to development of data model and database schema.
          %li Worked directly with CEO and Engineering Manager to continually evolve and fine-tune the planned application to better suit the needs of the client and produce a product of the highest possible quality and value.
          %li Metaprogrammed modular application components to allow easy porting of complex Rails and jQuery functionality to multiple areas of the site with little time and effort.
      .clear

    .project
      .info
        .title Daystrom Technology
        .urls
          %a{:href => "http://daystrom.com"} Daystrom.com
        .date
          2009-2010
        .roles
          %ul
            %li Lead Developer
            %li Designer
      .responsibilities
        %ul
          %li Expanded rudimentary Rails application built originally by Apple into a robust web gateway for collaborating on videos uploaded to Final Cut Server.

          %li Worked with CEO and tech lead to develop an application tailored to the needs of CBS's editing department, while remaining flexible enough to be repurposed for the use of other companies.

          %li Fostered elaborate multi-tiered server setup to workaround CBS's internal firewall.  Wrote several BASH scripts to automate deployment and maintenance of the Rails application.
      .clear

    .project.odd
      .info
        .title VFI International
        .urls
          %a{:href => "http://vfiinternational.com"} vfiinternational.com
        .date
          2009
        .roles
          %ul
            %li Project Manager
            %li UI Lead
      .responsibilities
        %ul
          %li Organized team of seven developers and designers to execute a complex Contact Resource Management system for an upcoming American Standard environmental conservation campaign.

          %li Kept in close and constant contact with project lead at VFI to disambiguate complexities and generate creative solutions to issues posed by the application being built.

          %li Focused on Behavior-Driven Development as led by two members of the Cucumber core team.  Continuously focused on code quality, maintainability, and building value into the application throughout the development cycle.
      .clear

    .project
      .info
        .title Media Minds
        .urls
          %a{:href => "http://pgicoop.com"} pgicoop.com
        .date 2008
        .roles
          %ul
            %li Project Manager
            %li Lead Developer
      .responsibilities
        %ul
          %li Built custom CMS-driven PHP application for Platinum Guild International. Wrote functional requirements documents for all three phases of development.

          %li Implemented complex file and digital asset management system across multiple user roles and permissions.

          %li Recruited and managed team of four off-site programmers to provide necessary manpower against aggressive development schedule.

          %li Built robust, elegant administrative back-end for managment of user data, uploads, and overall workflow.
      .clear

    .project.odd
      .info
        .title Automotive Information Network
        .urls
          %a{:href => "http://automotivedigest.com"} automotivedigest.com
        .date 2008
        .roles
          %ul
            %li Project Manager
            %li.odd Technical Director
            %li Designer
            %li UI Lead

      .responsibilities
        %ul
          %li Spearheaded redesign newsletters boasting circulation of up to 150,000, including provision and implementation of comprehensive graphical mock-ups.

          %li Worked with business manager and programming team reconceptualize and overhaul distribution capabilities of underlying CMS, increased productivity by limiting technical responsibilities of editorial team.

          %li Worked closely with editorial team to familiarize key members with new technologies.  Facilitated effective collaboration between executive, marketing, design and programming team.
      .clear

    .project
      .info
        .title Gayot Publications
        .urls
          %a{:href => "http://gayot.com"} gayot.com
        .date
          2007
        .roles
          %ul
            %li Project Manager
            %li Technical Director
            %li Designer
            %li UI Lead
      .responsibilities
        %ul

          %li  Managed all graphical and technical projects for custom PHP application claiming 125,000+ daily page views.

          %li Increased traffic on core pages 160% immediately following overhaul of graphical identity, code base and search-engine-friendliness for high-traffic pages to optimize page views per visitor and UI cleanliness.

          %li  Coordinated teams of off-site programmers through completion of multiple third-party projects.  Administrated dedicated LAMP server.  Produced email and banner-marketing campaigns.

          %li  Designed multiple microsites to facilitate advertising campaigns for Mandalay Bay Hotel and Casino and The Travel Channel.  Enforced rigorous design standards in utilization of respective brands.
      .clear

    .project.odd
      .info
        .title TechFreep
        .urls
          %a{:href => "http://techfreep.com"} techfreep.com
        .date
          2006
        .roles
          %ul
            %li Developer
            %li Designer
            %li Editor
      .responsibilities
        %ul
          %li Established creative direction and graphical identity for WordPress-based website.  Generated readership of 60,000 monthly visitors within two months of operation.

          %li Tapped social networking and social bookmarking sites to instigate grassroots interest in content and increase web traffic.

          %li Wrote and edited more than 300 technology and science news articles for TechFreep.com, WebProNews.com and ecogeek.org.  Implemented SEO techniques, tapped multiple advertising outlets for monetization.
      .clear

  #education
    %h2.title education
    .degree
      .name Bachelors of the Arts
      .school University of Michigan, Ann Arbor
      .concentration Concentration: Film and Video Studies
      .concentration Sub-Concentration: Screenwriting
      .year 2006
