---
layout: default
title: Resume
---

#resume
  #heading
    #leadin
      The professional r&eacute;sum&eacute; of 
    #name
      Mike Zazaian
    #subtitle
      Developer, Designer, Project Manager
  #contact
    %a{:href => "http://zop.io"} http://zop.io
    %a{:href => "mailto:mike@zop.io"} mike@zop.io
    %a{:href => "http://github.com/mkzzn"} Github
    %a{:href => "http://twitter.com/mkzzn"} Twitter
  .clear
  
  #objective
    %h2.title
      Objective
    .content
      To foster innovative, elegant, artistically-coded Ruby on Rails applications through the stages of planning, design, development and deployment.

  #skills
    %h2.title
      Skills
    %ul
      %li Software development, especially with Ruby on Rails
      %li Project management
      %li User interface design
      %li Elegant AJAX solutions using jQuery
      %li Behavior-driven development
      %li Graphical identity development
      %li Social marketing and content monetization
      %li Search engine optimiztion
    %ul
      %li Fluid-width CSS layouts
      %li Database design and planning
      %li Rapid comprehension of new technologies
      %li Artistic approach to best practices in programming and design
      %li Being flexible
      %li Delivering business value
      %li Friendliness
      %li Communicating effectively with humans
    .clear

  #technologies
    %h2.title
      Technologies
    %ul
      %li.heading Syntax
      %li Ruby/Rails
      %li HTML 5
      %li CSS 3
      %li Javascript
      %li jQuery
      %li BASH
      %li YAML
    %ul
      %li.heading Ruby-ish
      %li Cucumber
      %li RSpec
      %li HAML
      %li SASS
      %li Jekyll
      %li Padrino
      %li Sinatra
    %ul
      %li.heading Multimedia
      %li GIMP
      %li Photoshop
      %li Illustrator
      %li Inkscape
      %li Final Cut Pro
      %li Premiere
      %li After Effects
    %ul
      %li.heading Some Gems
      %li searchlogic
      %li bundler
      %li cancan
      %li capistrano
      %li carrierwave
      %li devise
      %li factory_girl

    .clear
